@page {
  size: 11.7in 16.5in;
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
}

.infografis {
  width: 11.7in;
  height: 16.5in;
  background-color: cyan;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

